body{
  background-color: #c0c0c0;
  font-family: 'Alegreya', serif;
}

header {
  background-color: #222;

  height: 100px;
  padding: 10px;
  color: white;
}
.estDate {
  float: right;
}
.gridContainer{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #C0C0C0;
  padding: 5px
}

img{
  width: 150px;
  height:auto;
}
span{
  margin: 20px;
}
p {
  margin-left: 20px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);

  font-size: 20px;

}
